services:
  postgres:
    image: bitnami/postgresql
    container_name: bugless_postgres
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      - POSTGRESQL_USERNAME=${POSTGRES_USER}
      - POSTGRESQL_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRESQL_DATABASE=${POSTGRES_DB}
    volumes:
      - postgres_data:/bitnami/postgresql

  redis:
    image: redis:latest
    container_name: bugless_redis
    ports:
      - "${REDIS_PORT}:6379"
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: